*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, monospace;
    font-size: 16px;
    box-sizing: border-box;
}
.main{
    display: flex;
    height: 100vh;
    
}

.left{
   
    width: 50%;
    min-height: 100vh;
    padding: 2.5% 10.5% 2.5% 5%;
    background:url('../images/bg-pattern-desktop.svg') no-repeat;
    background-position: center;
    background-size: cover;
}
.logo{
    margin-bottom: 2.5rem;
}
.heading >p{
    letter-spacing: 1rem;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 3rem;
    
}
.heading >p span{
    color: rgb(215, 141, 43);
    font-weight: lighter;
   
}

.para{
    width: 80%;
    margin-bottom: 3rem;
}
.input{
    height: 3.5rem;
    width: 30rem;
    position: relative;
}

.input>input{
    border:.1rem solid black; 
    border-radius: 25px;
    height: 100%;
    padding: 0.2rem 1rem;
    width: 100%;
}
.input>input:hover{
    border:.1rem solid rgb(215, 141, 43); 
}
.input>button{
    position: absolute;
    padding:0.2rem 3rem;
    height: 100%;
    border: none;
    border-radius: 25px;
    right: 0;
    background-color: rgb(215, 141, 43);
    cursor: pointer;

}
.error{
    position:absolute;
    right: 120px;
    bottom: 15px;
    
}
.input p{
    padding: 5px 0px 0px 20px;
    color: rgb(215, 141, 43);
}
.right{
    
    width: 60%;
    min-height: 100vh;
    overflow: hidden;
}
.right div>img{
    object-fit: contain;
   float: right;
    
   
}
